<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Event</title>
	<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<div id="top">
		EVENTS 
		<div id="currentuser">{{ session['username'] }}</div>
	</div>
	<div id="content">
    
    <h2>Update Event</h2>
    <form method="POST" action="{{ url_for('update_this_event', id=data['id'] ) }}">
        <label>Title:</label> <input type="text" name="title" value="{{ data['title'] }}">
        <label>Description:</label> <textarea name="description">{{ data['description'] }}</textarea>
		<label>Location:</label> <input type="text" name="location" value="{{ data['place'] }}">
		<label>Date:</label> <input type="date" name="date" value="{{ data['day'] }}">
		<label>Time:</label> <input type="time" name="time" value="{{ data['time'] }}">
        <label>Type:</label> <select  name="type">
					<option value="meet up"  
					{% if data['type'] == "meet up" %}
						selected
					{% endif %}>
					meet up
					</option>
					
					<option value="conference"  
					{% if data['type'] == "conference" %}
						selected
					{% endif %}>
					conference
					</option>
					<option value="party"  
					{% if data['type'] == "party" %}
						selected
					{% endif %}>
					party</option>
					<option value="festival"  
					{% if data['type'] == "festival" %}
						selected
					{% endif %}>
					festival</option>
		
		
        <p><input class="button" type="submit" value="Update"></p>
    </form>
    <p><a class="back" href="{{ url_for('home') }}">Back to Home</a></p>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    </div>
	<div id="footer">
	</div>
    
</body>
</html>